<ejs-grid [dataSource]='books' [allowPaging]='true' [allowSorting]='true' 
          [allowFiltering]='true' [pageSettings]='pageSettings' 
          [sortSettings]='sortSettings' [filterSettings]='filterSettings'>
  <e-columns>
    <e-column *ngFor="let col of columns" 
              [field]="col.field" 
              [headerText]="col.headerText"
              [textAlign]="col.textAlign" 
              [width]="col.width"
              [format]="col.format"
              [type]="col.type"
              [allowSorting]="col.allowSorting"
              [allowFiltering]="col.allowFiltering"
              [isPrimaryKey]="col.isPrimaryKey">
    </e-column>
  </e-columns>
</ejs-grid>
